NEXT_PUBLIC_API_URL=http://localhost:5000

API_INTERNAL_URL=http://localhost:5000
TENANT_BASE_DOMAIN=localhost
TENANT_PROXY_SECRET=64-char-random-string-generate-with-openssl-rand-hex-32
#TENANT_PLATFORM_SLUG=